.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"],
.form-signin input[type="password"] {
    direction: ltr;
    text-align: left;
    margin-bottom: 10px;
}

.form-signin input[type="checkbox"] {
    margin-top: 0px;
    margin-right: 5px;
    vertical-align: text-bottom;
}

.form-signin button[type="submit"] {
    margin-top: 20px;
}