* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #333;
	background-color: #fff;
}

header {
	background-color: #ffc14d;
	padding: 10px 0;
}

header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header h1 {
	margin: 0;
	font-size: 2.5em;
	color: #fff;
}

nav ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	margin: 0 10px;
}

nav li a {
	color: #fff;
	text-decoration: none;
	font-size: 1.2em;
}

nav li a:hover {
	text-decoration: underline;
}

.hero {
	background-image: url("/web_app/app/static/images/car.jpg");
	background-size: cover;
	background-position: center;
	color: #fff;
	text-align: center;
	padding: 80;
}