{% extends "base.html" %}
{% from "macros/form_render.html" import render_field %}

{% block style %}

{% endblock %}

{% block title %} Home Page {% endblock %}

{% block content %}
<form action="#" method="POST">
  <h1>Car Search Form</h1>

  {{car_search_form.csrf_token}}

  {{ render_field(car_search_form.brand) }}
  {{ render_field(car_search_form.model) }}
  {{ render_field(car_search_form.min_production_year) }}
  {{ render_field(car_search_form.max_production_year) }}
  {{ render_field(car_search_form.min_mileage) }}
  {{ render_field(car_search_form.max_mileage) }}

  <button type="submit">Search</button>

</form>
{% endblock %}
