{% extends "base.html" %}
{% from "macros/form_render.html" import render_field %}

{% block style %}
<link href="/static/css/signin.css" rel="stylesheet">
{% endblock %}

{% block title %} Login Page {% endblock %}
{% block content %}
    <body class="text-center">
    <main class="form-signin">
    <form action="#" method="POST">
        <h1 class="h3 mb-3 fw-normal">Login</h1>

        {{ login_form.csrf_token }}
        
        {{ render_field(login_form.username) }}
        {{ render_field(login_form.password) }}

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me">
                Remember me
            </label>
        </div>
        <button class="w-90 btn-lg btn-primary" type="submit">Log in</button>        
        <p class="mt-5 mb-3 text-muted">@ 2023</p>
    </form>
    </main>
    </body>
{% endblock %}