{% extends "base.html" %}
{% from "macros/form_render.html" import render_field %}

{% block title %} Profile Page {% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 mb-5">
      <h3>User Information</h3>
      <hr>
      <form action="#" method="POST">
        {{ profile_form.csrf_token }}
        {{ render_field(profile_form.username) }}
        {{ render_field(profile_form.email) }}
        {{ render_field(profile_form.first_name) }}
        {{ render_field(profile_form.last_name) }}
        <button class="btn btn-primary mt-3" type="submit">Update User Information</button>
      </form>
    </div>
    <div class="col-md-6 mb-5">
      <h3>Change Password</h3>
      <hr>
      <form action="#" method="POST">
        {{ password_form.csrf_token }}
        {{ render_field(password_form.old_password) }}
        {{ render_field(password_form.new_password) }}
        {{ render_field(password_form.confirm_new_password) }}
        <button class="btn btn-primary mt-3" type="submit">Change Password</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}